USE [master]
GO
/****** Object:  Database [MAPANI]    Script Date: 5/12/2021 12:06:58 PM ******/
CREATE DATABASE [MAPANI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MAPANI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MAPANI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MAPANI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MAPANI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MAPANI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MAPANI]
GO
/****** Object:  Table [dbo].[MapaniUsers]    Script Date: 5/12/2021 12:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapaniUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Rol] [nvarchar](50) NULL,
 CONSTRAINT [PK_MapaniUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordenes]    Script Date: 5/12/2021 12:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordenes](
	[IdOrden] [int] IDENTITY(1,1) NOT NULL,
	[IdNMB] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Programa] [nvarchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Pediatra] [nvarchar](50) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Despachado] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProximasVisitas]    Script Date: 5/12/2021 12:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProximasVisitas](
	[NMB] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Departamento] [nvarchar](50) NULL,
	[Doctor] [nvarchar](50) NULL,
	[Activo] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Referencia]    Script Date: 5/12/2021 12:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referencia](
	[NMB] [int] NOT NULL,
	[Cuidador] [int] NOT NULL,
	[Parentesco] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NMB] ASC,
	[Cuidador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReferenciaMMB]    Script Date: 5/12/2021 12:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReferenciaMMB](
	[NMB] [int] NOT NULL,
	[MMB] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NMB] ASC,
	[MMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablaAlmacen]    Script Date: 5/12/2021 12:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaAlmacen](
	[IdProducto] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Programa] [nvarchar](50) NULL,
	[Cantidad] [nvarchar](50) NULL,
	[Lote] [nvarchar](50) NULL,
	[FechaVencimiento] [date] NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Diferido] [int] NULL,
 CONSTRAINT [PK_TablaAlmacen] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablaAsistencia]    Script Date: 5/12/2021 12:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaAsistencia](
	[IdTrabajador] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Rol] [nvarchar](50) NULL,
 CONSTRAINT [PK_TablaAsistencia] PRIMARY KEY CLUSTERED 
(
	[IdTrabajador] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablaBodega]    Script Date: 5/12/2021 12:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaBodega](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Cantidad] [int] NULL,
	[Programa] [nvarchar](50) NULL,
	[Lote] [nvarchar](50) NULL,
	[FechaVencimiento] [date] NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_TablaBodeg] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablaCuidador]    Script Date: 5/12/2021 12:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaCuidador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Sexo] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](50) NOT NULL,
	[Foto] [image] NULL,
	[EstadoCivil] [nvarchar](50) NULL,
	[Cedula] [nvarchar](50) NULL,
	[Hijos] [nvarchar](2) NULL,
	[Transporte] [nvarchar](50) NULL,
 CONSTRAINT [PK_TablaCuidador] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablaEnfermeria]    Script Date: 5/12/2021 12:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaEnfermeria](
	[NMB] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Programa] [nvarchar](50) NULL,
	[Peso] [nvarchar](50) NULL,
	[Talla] [nvarchar](50) NULL,
	[Muac] [nvarchar](50) NULL,
	[CC] [nvarchar](50) NULL,
	[CMB] [nvarchar](50) NULL,
	[Edema] [nvarchar](50) NULL,
	[IMC] [nvarchar](50) NULL,
	[PZImcEdad] [nvarchar](50) NULL,
	[PZTallaEdad] [nvarchar](50) NULL,
	[PZTallaIMC] [nvarchar](50) NULL,
	[PesoNacimiento] [nvarchar](50) NULL,
	[Lactancia] [nvarchar](50) NULL,
	[Observacion] [nvarchar](50) NULL,
	[Patologias] [nvarchar](50) NULL,
	[Antecedentes] [nvarchar](50) NULL,
	[Hb] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablaMMB]    Script Date: 5/12/2021 12:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaMMB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Sexo] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Foto] [image] NOT NULL,
	[Telefono] [nvarchar](50) NOT NULL,
	[Cedula] [nvarchar](50) NULL,
	[CantidadHijos] [nvarchar](2) NULL,
	[Transporte] [nvarchar](50) NULL,
	[EstadoCivil] [nvarchar](50) NULL,
 CONSTRAINT [PK_TablaMMB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablaNMB]    Script Date: 5/12/2021 12:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaNMB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](50) NOT NULL,
	[Sexo] [nvarchar](50) NOT NULL,
	[Foto] [image] NULL,
	[FechaNacimiento] [date] NULL,
	[Cedula] [nvarchar](50) NULL,
	[IngresoPrograma] [nvarchar](50) NULL,
	[PartidaNacimiento] [nvarchar](50) NULL,
	[Discapacidad] [nvarchar](50) NULL,
	[FechaIngreso] [date] NULL,
	[Vacunas] [nvarchar](50) NULL,
	[Parto] [nvarchar](50) NULL,
	[LactanciaMaterna] [nvarchar](50) NULL,
 CONSTRAINT [PK_TablaNMB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitas]    Script Date: 5/12/2021 12:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitas](
	[NMB] [int] NOT NULL,
	[Cuidador] [int] NOT NULL,
	[Fecha] [date] NULL,
	[Departamento] [nvarchar](50) NULL,
	[Reagendada] [nvarchar](50) NULL,
	[Motivo] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MapaniUsers] ON 

INSERT [dbo].[MapaniUsers] ([Id], [LoginName], [Password], [FirstName], [LastName], [Position], [Email], [Rol]) VALUES (3, N'Jose', N'123', N'Jose', N'Suarez', N'Recepcion', N'Jose@Mapani.com', N'Recepcion')
INSERT [dbo].[MapaniUsers] ([Id], [LoginName], [Password], [FirstName], [LastName], [Position], [Email], [Rol]) VALUES (4, N'Milena', N'123', N'Milena', N'Milena', N'Transcripcion', N'Milena@Mapani.com', N'Transcripcion1')
INSERT [dbo].[MapaniUsers] ([Id], [LoginName], [Password], [FirstName], [LastName], [Position], [Email], [Rol]) VALUES (5, N'Enfermera', N'123', N'Enfermera', N'Enfermera', N'Enfermeria', N'Enfermera@Mapani.com', N'Enfermera1')
SET IDENTITY_INSERT [dbo].[MapaniUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Ordenes] ON 

INSERT [dbo].[Ordenes] ([IdOrden], [IdNMB], [IdProducto], [Nombre], [Programa], [Fecha], [Pediatra], [Cantidad], [Despachado]) VALUES (1, 1, 1, N'Sobre', N'Porte Poronte', CAST(N'2021-04-30' AS Date), N'Pediatra 1	', 50, N'Si')
INSERT [dbo].[Ordenes] ([IdOrden], [IdNMB], [IdProducto], [Nombre], [Programa], [Fecha], [Pediatra], [Cantidad], [Despachado]) VALUES (2, 1, 1, N'Sobre', N'Porte Poronte', CAST(N'2021-05-01' AS Date), N'Pediatra 1	', 50, N'Si')
INSERT [dbo].[Ordenes] ([IdOrden], [IdNMB], [IdProducto], [Nombre], [Programa], [Fecha], [Pediatra], [Cantidad], [Despachado]) VALUES (3, 4, 1, N'Sobre', N'Porte Poronte', CAST(N'2021-05-03' AS Date), N'Pediatra 1	', 50, N'Si')
SET IDENTITY_INSERT [dbo].[Ordenes] OFF
GO
INSERT [dbo].[ProximasVisitas] ([NMB], [Fecha], [Departamento], [Doctor], [Activo]) VALUES (2, CAST(N'2021-05-03' AS Date), N'Pediatria', NULL, N'No')
INSERT [dbo].[ProximasVisitas] ([NMB], [Fecha], [Departamento], [Doctor], [Activo]) VALUES (4, CAST(N'2021-05-03' AS Date), N'Pediatria', NULL, N'No')
INSERT [dbo].[ProximasVisitas] ([NMB], [Fecha], [Departamento], [Doctor], [Activo]) VALUES (1, CAST(N'2021-05-12' AS Date), N'Pediatria', N'Pediatra1', N'No')
GO
INSERT [dbo].[Referencia] ([NMB], [Cuidador], [Parentesco]) VALUES (1, 1, N'Padre')
INSERT [dbo].[Referencia] ([NMB], [Cuidador], [Parentesco]) VALUES (2, 1, N'Padre')
INSERT [dbo].[Referencia] ([NMB], [Cuidador], [Parentesco]) VALUES (4, 1, N'Padre')
GO
INSERT [dbo].[TablaAlmacen] ([IdProducto], [Nombre], [Programa], [Cantidad], [Lote], [FechaVencimiento], [Descripcion], [Diferido]) VALUES (1, N'Sobre', N'Porte Poronte', N'550', N'1', CAST(N'2024-06-01' AS Date), N'Sobre Proteico', 0)
INSERT [dbo].[TablaAlmacen] ([IdProducto], [Nombre], [Programa], [Cantidad], [Lote], [FechaVencimiento], [Descripcion], [Diferido]) VALUES (2, N'Desparasitante', N'IRC', N'100', N'1', CAST(N'2024-04-29' AS Date), N'Desparasitante', 0)
INSERT [dbo].[TablaAlmacen] ([IdProducto], [Nombre], [Programa], [Cantidad], [Lote], [FechaVencimiento], [Descripcion], [Diferido]) VALUES (5, N'Antibacterial', N'MAPANI', N'20', N'1', CAST(N'2022-05-06' AS Date), N'Antibacterial', 0)
GO
INSERT [dbo].[TablaAsistencia] ([IdTrabajador], [Fecha], [Rol]) VALUES (6, CAST(N'2021-05-12' AS Date), N'Admin')
GO
SET IDENTITY_INSERT [dbo].[TablaBodega] ON 

INSERT [dbo].[TablaBodega] ([IdProducto], [Nombre], [Cantidad], [Programa], [Lote], [FechaVencimiento], [Descripcion]) VALUES (1, N'Sobre', 500, N'Porte Poronte', N'1', CAST(N'2024-05-04' AS Date), N'Sobre Nutricional')
INSERT [dbo].[TablaBodega] ([IdProducto], [Nombre], [Cantidad], [Programa], [Lote], [FechaVencimiento], [Descripcion]) VALUES (2, N'Desparasitante', 100, N'Porte Poronte', N'1', CAST(N'2024-05-04' AS Date), N'Desparasitante para ninos')
INSERT [dbo].[TablaBodega] ([IdProducto], [Nombre], [Cantidad], [Programa], [Lote], [FechaVencimiento], [Descripcion]) VALUES (5, N'Antibacterial', 90, N'MAPANI', N'1', CAST(N'2022-05-06' AS Date), N'Antibacterial')
SET IDENTITY_INSERT [dbo].[TablaBodega] OFF
GO
SET IDENTITY_INSERT [dbo].[TablaCuidador] ON 

SET IDENTITY_INSERT [dbo].[TablaCuidador] OFF
GO
INSERT [dbo].[TablaEnfermeria] ([NMB], [Fecha], [Programa], [Peso], [Talla], [Muac], [CC], [CMB], [Edema], [IMC], [PZImcEdad], [PZTallaEdad], [PZTallaIMC], [PesoNacimiento], [Lactancia], [Observacion], [Patologias], [Antecedentes], [Hb]) VALUES (1, CAST(N'2021-04-30' AS Date), N'Ponte Poronte', N'9', N'73', NULL, NULL, N'15', N'No', NULL, NULL, NULL, NULL, NULL, NULL, N'Bien', N'Bien', N'Bien', NULL)
INSERT [dbo].[TablaEnfermeria] ([NMB], [Fecha], [Programa], [Peso], [Talla], [Muac], [CC], [CMB], [Edema], [IMC], [PZImcEdad], [PZTallaEdad], [PZTallaIMC], [PesoNacimiento], [Lactancia], [Observacion], [Patologias], [Antecedentes], [Hb]) VALUES (4, CAST(N'2021-05-03' AS Date), N'Ponte Poronte', N'25.600', N'138.7', NULL, NULL, N'156', N'No', NULL, NULL, NULL, NULL, NULL, NULL, N'bien', N'bien', N'bien', NULL)
INSERT [dbo].[TablaEnfermeria] ([NMB], [Fecha], [Programa], [Peso], [Talla], [Muac], [CC], [CMB], [Edema], [IMC], [PZImcEdad], [PZTallaEdad], [PZTallaIMC], [PesoNacimiento], [Lactancia], [Observacion], [Patologias], [Antecedentes], [Hb]) VALUES (4, CAST(N'2021-05-05' AS Date), N'IRC', N'25.600', N'138.7', NULL, NULL, N'156', N'No', NULL, NULL, NULL, NULL, NULL, NULL, N'bien', N'bien ', N'bien', NULL)
GO
SET IDENTITY_INSERT [dbo].[TablaNMB] ON 

SET IDENTITY_INSERT [dbo].[TablaNMB] OFF
GO
INSERT [dbo].[Visitas] ([NMB], [Cuidador], [Fecha], [Departamento], [Reagendada], [Motivo]) VALUES (1, 1, CAST(N'2021-04-30' AS Date), N'Pediatria', N'No', N'')
INSERT [dbo].[Visitas] ([NMB], [Cuidador], [Fecha], [Departamento], [Reagendada], [Motivo]) VALUES (1, 1, CAST(N'2021-05-01' AS Date), N'Pediatria', N'No', N'')
INSERT [dbo].[Visitas] ([NMB], [Cuidador], [Fecha], [Departamento], [Reagendada], [Motivo]) VALUES (4, 1, CAST(N'2021-05-04' AS Date), N'Pediatria', N'No', N'')
GO
ALTER TABLE [dbo].[Ordenes] ADD  CONSTRAINT [DF_Ordenes_Despachado]  DEFAULT (N'No') FOR [Despachado]
GO
ALTER TABLE [dbo].[ProximasVisitas] ADD  CONSTRAINT [DF_ProximasVisitas_Activo]  DEFAULT (N'No') FOR [Activo]
GO
ALTER TABLE [dbo].[TablaAlmacen] ADD  CONSTRAINT [DF_TablaAlmacen_Diferido]  DEFAULT ((0)) FOR [Diferido]
GO
ALTER TABLE [dbo].[Referencia]  WITH CHECK ADD  CONSTRAINT [FK__Referenci__Cuida__29572725] FOREIGN KEY([Cuidador])
REFERENCES [dbo].[TablaCuidador] ([Id])
GO
ALTER TABLE [dbo].[Referencia] CHECK CONSTRAINT [FK__Referenci__Cuida__29572725]
GO
ALTER TABLE [dbo].[Referencia]  WITH CHECK ADD FOREIGN KEY([NMB])
REFERENCES [dbo].[TablaNMB] ([Id])
GO
ALTER TABLE [dbo].[ReferenciaMMB]  WITH CHECK ADD  CONSTRAINT [FK__ReferenciaM__MMB__30F848ED] FOREIGN KEY([MMB])
REFERENCES [dbo].[TablaMMB] ([Id])
GO
ALTER TABLE [dbo].[ReferenciaMMB] CHECK CONSTRAINT [FK__ReferenciaM__MMB__30F848ED]
GO
ALTER TABLE [dbo].[ReferenciaMMB]  WITH CHECK ADD FOREIGN KEY([NMB])
REFERENCES [dbo].[TablaNMB] ([Id])
GO
ALTER TABLE [dbo].[Visitas]  WITH CHECK ADD  CONSTRAINT [FK__Visitas__Cuidado__32E0915F] FOREIGN KEY([Cuidador])
REFERENCES [dbo].[TablaCuidador] ([Id])
GO
ALTER TABLE [dbo].[Visitas] CHECK CONSTRAINT [FK__Visitas__Cuidado__32E0915F]
GO
ALTER TABLE [dbo].[Visitas]  WITH CHECK ADD FOREIGN KEY([NMB])
REFERENCES [dbo].[TablaNMB] ([Id])
GO
USE [master]
GO
